<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <script src="https://kit.fontawesome.com/5b2ed83021.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/CSS/paymentSuccessfull.css">
    <title>Payment Successfull</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
</head>

<body>
    <div class="payment-successful-container">
        <div class="check-image-div">
            <img src="\images\verified (1).png" loading="lazy" />
        </div>
        <h1>PAYMENT SUCCESSFULL</h1>
        <div>
            <a href="/"><button type="button" class="btn btn-primary">Continue To HomePage</button></a>
        </div>
    </div>
</body>

</html>