<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Subscriptions</title>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="main-body">
            <!-- Breadcrumb -->
            <nav aria-label="breadcrumb" class="main-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="profile.html">User</a></li>
                    <li class="breadcrumb-item active" aria-current="page">My Subscriptions</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin"
                                    class="rounded-circle" loading="lazy" width="150">
                                <div class="mt-3">
                                    <h4 style="font-weight: bolder;">HomeoKart User</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><a href="profile.html" style="text-decoration:none;">Profile</a></h6>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><a href="#" style="text-decoration:none;">Cart</a></h6>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><a href="wishlist.html" style="text-decoration:none;">My Wishlist</a>
                                </h6>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><a href="#" style="text-decoration:none;">My Subscriptions</a></h6>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><a href="#" style="text-decoration:none;">Help</a></h6>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><a href="#" style="text-decoration:none;">Contact us</a></h6>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><a href="#" style="text-decoration:none;">Logout</a></h6>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h6 style="padding-top: 2px; font-weight: bolder; text-align: center;">You save upto</h6>
                            <h6 style="font-weight: bolder; font-size: 30px; text-align: center;">Rs 500.00</h6>
                            <h6 style="padding-top: 15px; opacity: 70%; letter-spacing: 0.5px; font-size: small;">
                                HOMEOKART
                                SUBSCRIPTION BENEFITS :</h6>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex flex-wrap"><img
                                        src="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/64/000000/external-discount-banking-and-finance-kiranshastry-lineal-color-kiranshastry.png"
                                        loading="lazy" style="width: 35px; height: 35px;" />
                                    <h6 style="padding-left: 10px; font-weight: bolder; font-size: 15px;">Get 20%
                                        discount<br>
                                        <span style="font-weight: normal;">Get 20% discount on every order.</span></h6>
                                </li>
                                <li class="list-group-item d-flex flex-wrap"><img
                                        src="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/64/000000/external-delivery-logistic-delivery-kiranshastry-lineal-color-kiranshastry-1.png"
                                        loading="lazy" style="width: 40px; height: 40px;" />
                                    <h6 style="padding-left: 10px; font-weight: bolder; font-size: 15px;">Free & Fast
                                        Delivery<br>
                                        <span style="font-weight: normal;">Get your orders delivered free of
                                            cost.</span></h6>
                                </li>
                                <li class="list-group-item d-flex flex-wrap"><img
                                        src="https://img.icons8.com/external-icongeek26-linear-colour-icongeek26/64/000000/external-delivery-ecommerce-icongeek26-linear-colour-icongeek26-1.png"
                                        loading="lazy" style="width: 38px; height: 40px;" />
                                    <h6 style="padding-left: 10px; font-weight: bolder; font-size: 15px;">Cancel, skip
                                        or reschedule your
                                        delivery<br>
                                        <span style="font-weight: normal;">You can cancel, skip or reschedule your
                                            delivery any time for
                                            free.</span></h6>
                                </li>
                                <li class="list-group-item d-flex flex-wrap"><img
                                        src="https://img.icons8.com/external-victoruler-linear-colour-victoruler/64/000000/external-doctor-medical-staff-characters-victoruler-linear-colour-victoruler-12.png"
                                        loading="lazy" style="width: 38px; height: 40px;" />
                                    <h6 style="padding-left: 10px; font-weight: bolder; font-size: 15px;">Free
                                        Consultation<br>
                                        <span style="font-weight: normal;">Get free consultation per month.</span></h6>
                                </li>
                            </ul>
                            <div class="text-center">
                                <a class="btn btn-outline-primary" target="__blank" href="homepage.html"
                                    style="width: 150px; align-items: center;">Get Subscription</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>