<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="/CSS/uploadData.css">
    <title>Upload Data</title>
</head>

<body>

    <h1>ADD A PRODUCT</h1>
    <form method="post" action="/uploadData" enctype="multipart/form-data">

        <!-- PRODUCT NAME -->
        <div class="form-floating mb-3">
            <input required type="text" id="product-name" name="productName" class="form-control"
                placeholder="Product name">
            <label for="product-name">PRODUCT NAME</label>
        </div>

        <!-- PRODUCT DESCRIPTION -->
        <div class="mb-3">
            <label for="product-description" class="form-label">PRODUCT DESCRIPTION</label>
            <textarea required id="product-description" name="productDescription" class="form-control"></textarea>
        </div>

        <div class="row">

            <!-- PRODUCT PRICE -->
            <div class="col-6 mb-3">
                <div class="form-floating">
                    <input required type="number" min="0" step=".01" id="product-price" name="productPrice"
                        class="form-control" placeholder="Product Price">
                    <label for="product-price">PRODUCT PRICE(Rs)</label>
                </div>
            </div>

            <!-- PRODUCT RATING -->
            <div class="col-6 mb-3">
                <div class="form-floating">
                    <input required type="number" min="0" max="5" step=".1" id="product-rating" name="productRating"
                        class="form-control" placeholder="Product Rating">
                    <label for="product-rating">PRODUCT RATING</label>
                </div>
            </div>

        </div>

        <div class="row mb-3">

            <!-- PRODUCT CATEGORY -->
            <div class="mb-3 col-6">
                <label class="form-label">PRODUCT CATEGORY</label>

                <div class="form-check">
                    <input type="checkbox" id="category-1" name="productCategory" value="Baby essentials"
                        class="form-check-input">
                    <label class="form-check-label" for="category-1">Baby essentials</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" id="category-2" name="productCategory" value="Covid"
                        class="form-check-input">
                    <label class="form-check-label" for="category-2">Covid</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" id="category-3" name="productCategory" value="Dilutions"
                        class="form-check-input">
                    <label class="form-check-label" for="category-3">Dilutions</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" id="category-4" name="productCategory" value="Hair Care"
                        class="form-check-input">
                    <label class="form-check-label" for="category-4">Hair Care</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" id="category-5" name="productCategory" value="Mother tincture"
                        class="form-check-input">
                    <label class="form-check-label" for="category-5">Mother tincture</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" id="category-6" name="productCategory" value="Skin Care"
                        class="form-check-input">
                    <label class="form-check-label" for="category-6">Skin Care</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" id="category-6" name="productCategory" value="Trituration"
                        class="form-check-input">
                    <label class="form-check-label" for="category-6">Trituration</label>
                </div>
            </div>

            <div class="col-6 mb-3">

                <!-- SELECT IMAGE FILE -->
                <div class="mb-4">
                    <label for="product-image" class="form-label">PRODUCT IMAGE</label>
                    <input type="file" id="product-image" name="productImage" accept="image/*" class="form-control"
                        multiple>
                </div>

                <!-- COUNTRY OF ORIGIN -->
                <select class="form-select" aria-label="Default select example" name="productOriginCountry" required>
                    <option selected value="">COUNTRY OF ORIGIN</option>
                    <option value="INDIA">INDIA</option>
                    <option value="CHINA">CHINA</option>
                    <option value="USA">USA</option>
                </select>

                <!-- <div class="form-floating mb-3">
                <input type="text" class="form-control" list="datalistOptions" name="productOriginCountry1"
                    id="exampleDataList" placeholder="Type to search...">
                <datalist id="datalistOptions">
                    <option value="San Francisco">
                    <option value="New York">
                    <option value="Seattle">
                    <option value="Los Angeles">
                    <option value="Chicago">
                </datalist>
                <label for="exampleDataList" class="form-label">Country of origin</label>
            </div> -->

            </div>
        </div>

        <!-- MANUFACTURER NAME -->
        <div class="form-floating mb-3">
            <input required type="text" id="manufacturer-name" name="manufacturerName" class="form-control"
                placeholder="Manufacturer name">
            <label for="manufacturer-name">MANUFACTURER NAME</label>
        </div>

        <!-- MANUFACTURER ADDRESS -->
        <div class="form-floating mb-3">
            <input required type="text" id="manufacturer-address" name="manufacturerAddress" class="form-control"
                placeholder="Manufacturer Address">
            <label for="manufacturer-address">MANUFACTURER ADDRESS</label>
        </div>

        <!-- PRODUCT INGREDIENTS -->
        <div class="mb-3">
            <label for="product-ingredients" class="form-label">PRODUCT INGREDIENTS</label>
            <textarea required id="product-ingredients" name="productIngredients" class="form-control"></textarea>
        </div>




        <!-- <div class="form-group mb-3">
            <input type="file" class="form-control-file" name="uploaded_file">
            <input type="text" class="form-control" placeholder="Number of speakers" name="nspeakers">
        </div> -->

        <button type="submit" class="btn btn-primary">ADD PRODUCT</button>


    </form>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
</body>

</html>