* {
    box-shadow: none !important;
}

h1 {
    text-align: center;
    color: #121212;
    margin: 5rem auto 2rem;
    text-decoration: underline;
}

label,
select {
    font-weight: 600;
}

select {
    font-weight: 600 !important;
}

textarea {
    min-height: 100px !important;
}

form {
    width: 50%;
    margin: auto;
}

.form-check {
    margin: auto auto auto 3rem;
}